# Probabilidade

In [1]:
import numpy as np
import pandas as pd

In [2]:
enem_sp = pd.read_csv('enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')

In [4]:
enem_sp.head(15)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim
5,"1,90E+11",São José do Rio Preto,18,F,1,branca,1,2,pública,35028927.0,...,612.8,Espanhol,1.0,120.0,160.0,120.0,80.0,100.0,580.0,Não
6,"1,90E+11",Franca,32,M,1,parda,1,1,não_respondeu,NaN,...,584.1,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
7,"1,90E+11",Santo André,20,F,1,parda,1,1,não_respondeu,NaN,...,508.5,Espanhol,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
8,"1,90E+11",São Paulo,26,M,1,branca,1,1,não_respondeu,NaN,...,681.2,Espanhol,1.0,180.0,200.0,200.0,200.0,120.0,900.0,Sim
9,"1,90E+11",Santo André,44,F,2,parda,1,1,não_respondeu,NaN,...,488.1,Espanhol,1.0,120.0,120.0,120.0,120.0,40.0,520.0,Sim
10,"1,90E+11",Jaguariúna,19,M,1,parda,1,1,não_respondeu,NaN,...,505.5,Inglês,1.0,160.0,120.0,120.0,100.0,0.0,500.0,Não
11,"1,90E+11",Guará,17,F,1,parda,1,2,pública,35023310.0,...,535.1,Inglês,1.0,140.0,120.0,140.0,160.0,120.0,680.0,Sim
12,"1,90E+11",Cajamar,17,F,1,preta,1,2,pública,22083480.0,...,510.7,Espanhol,1.0,120.0,180.0,120.0,120.0,120.0,660.0,Sim
13,"1,90E+11",Osasco,17,F,1,parda,1,2,pública,35040770.0,...,423.8,Espanhol,1.0,140.0,120.0,120.0,140.0,0.0,520.0,Não
14,"1,90E+11",São Paulo,19,M,1,parda,1,1,não_respondeu,NaN,...,457.8,Espanhol,1.0,100.0,120.0,120.0,120.0,100.0,560.0,Sim

In [5]:
enem_osasco = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Osasco']

In [6]:
enem_santo_andre = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Santo André']

In [7]:
enem_osasco.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
13,"1,90E+11",Osasco,17,F,1,parda,1,2,pública,35040770.0,...,423.8,Espanhol,1.0,140.0,120.0,120.0,140.0,0.0,520.0,Não
201,"1,90E+11",Osasco,19,F,1,preta,1,1,não_respondeu,NaN,...,506.6,Espanhol,1.0,120.0,160.0,120.0,180.0,120.0,700.0,Sim
231,"1,90E+11",Osasco,18,F,1,branca,1,1,não_respondeu,NaN,...,416.3,Espanhol,1.0,100.0,120.0,100.0,80.0,120.0,520.0,Não
333,"1,90E+11",Osasco,20,M,1,branca,1,1,não_respondeu,NaN,...,820.4,Inglês,1.0,160.0,140.0,140.0,160.0,160.0,760.0,Sim
357,"1,90E+11",Osasco,33,F,2,preta,1,1,não_respondeu,NaN,...,549.9,Inglês,1.0,120.0,120.0,80.0,100.0,20.0,440.0,Sim

In [8]:
enem_santo_andre.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
7,"1,90E+11",Santo André,20,F,1,parda,1,1,não_respondeu,NaN,...,508.5,Espanhol,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
9,"1,90E+11",Santo André,44,F,2,parda,1,1,não_respondeu,NaN,...,488.1,Espanhol,1.0,120.0,120.0,120.0,120.0,40.0,520.0,Sim
18,"1,90E+11",Santo André,20,M,1,parda,1,1,não_respondeu,NaN,...,379.8,Inglês,1.0,80.0,120.0,120.0,100.0,100.0,520.0,Não
75,"1,90E+11",Santo André,24,F,1,parda,1,1,não_respondeu,NaN,...,703.7,Espanhol,1.0,100.0,120.0,120.0,120.0,120.0,580.0,Sim
219,"1,90E+11",Santo André,19,F,1,branca,1,1,não_respondeu,NaN,...,556.1,Inglês,1.0,120.0,120.0,120.0,100.0,60.0,520.0,Sim

In [12]:
enem_osasco.shape

(9521, 28)

 - Verificando a quantidade de linhas

In [9]:
len(enem_osasco)

9521

In [10]:
len(enem_santo_andre)

8841

In [11]:
len(enem_sp)

499940

- Criando função de probabilidade

In [13]:
# Função de Probabilidade

def probabilidade(A, E):
    resultado = (A / E)*100
    print(f"{resultado:.2f}")

In [14]:
# Probabilidade de retirar um vestibulando de Osasco:
probabilidade(len(enem_osasco), len(enem_sp))

1.90

In [15]:
# Probabilidade de retirar um vestibulando de Santo André:
probabilidade(len(enem_santo_andre), len(enem_sp))

1.77

- Criando função de probabilidade de NÃO ocorrer um evento

In [17]:
def probabilidade_nao_ocorrer_evento(A, E):
    resultado = (1 - (A/E))*100
    print(f"{resultado:.2f}")

In [18]:
# Probabilidade de não retirar um vestibulando de Osasco
probabilidade_nao_ocorrer_evento(len(enem_osasco), len(enem_sp))

98.10

In [19]:
# Probabilidade de não retirar um vestibulando de Santo André
probabilidade_nao_ocorrer_evento(len(enem_santo_andre), len(enem_sp))

98.23

In [20]:
# Probabilidade de não retirar um vestibulando NEM de Osasco NEM de Santo André
probabilidade_nao_ocorrer_evento(len(enem_osasco)+len(enem_santo_andre), len(enem_sp))

96.33

## Probabilidade da União Mutuamente Exclusivos (A U B)

- Criando função probabilidade da união mutuamente exclusivos

In [23]:
# Função
def probabilidade_uniao_exclusivo(A, B, E):
    resultado = (A/E + B/E)*100
    print(f"{resultado:.2f}")

In [24]:
# Probabilidade de retirar um vestibulando de Osasco OU de Santo André
probabilidade_uniao_exclusivo(len(enem_osasco), len(enem_santo_andre), len(enem_sp))

3.67

## Probabilidade da Intersecção de dois Eventos

In [25]:
# Função
def probabilidade_interseccao(A, B, E):
    resultado = (A/E * B/E)*100
    print(f"{resultado:.2f}")

In [26]:
# Probabilidade de retirar um vestibulando de Osasco E de Santo André (com reposição)
probabilidade_interseccao(len(enem_osasco), len(enem_santo_andre), len(enem_sp))

0.03

## Probabilidade Condicional

In [27]:
# Função
def probabilidade_condicional(AB, B):
    resultado = (AB/B)*100
    print(f"{resultado:.2f}")

In [28]:
# Probabilidade de retirar uma mulher parda
mulher = enem_sp.loc[enem_sp.SEXO == 'F']

In [29]:
# Mulher dada a condição de que ela seja parda
mulher_parda = mulher.loc[mulher.RACA == 'parda']

In [32]:
mulher_parda.head(10)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
7,"1,90E+11",Santo André,20,F,1,parda,1,1,não_respondeu,NaN,...,508.5,Espanhol,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
9,"1,90E+11",Santo André,44,F,2,parda,1,1,não_respondeu,NaN,...,488.1,Espanhol,1.0,120.0,120.0,120.0,120.0,40.0,520.0,Sim
11,"1,90E+11",Guará,17,F,1,parda,1,2,pública,35023310.0,...,535.1,Inglês,1.0,140.0,120.0,140.0,160.0,120.0,680.0,Sim
13,"1,90E+11",Osasco,17,F,1,parda,1,2,pública,35040770.0,...,423.8,Espanhol,1.0,140.0,120.0,120.0,140.0,0.0,520.0,Não
16,"1,90E+11",São Paulo,18,F,1,parda,1,1,não_respondeu,NaN,...,612.9,Inglês,1.0,160.0,200.0,160.0,180.0,180.0,880.0,Sim
19,"1,90E+11",Santos,29,F,1,parda,1,1,não_respondeu,NaN,...,544.9,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
25,"1,90E+11",Bertioga,26,F,1,parda,1,1,não_respondeu,NaN,...,649.8,Inglês,1.0,160.0,200.0,160.0,200.0,140.0,860.0,Sim
29,"1,90E+11",Novo Horizonte,19,F,1,parda,1,1,não_respondeu,NaN,...,448.1,Inglês,1.0,100.0,120.0,100.0,120.0,80.0,520.0,Sim

In [31]:
# Probabilidade de retirar uma vestibulanda PARDA
probabilidade_condicional(len(mulher_parda), len(mulher))

30.76

In [33]:
mulher_escola_publica = mulher.loc[mulher.ESCOLA == 'pública']

In [34]:
mulher_escola_publica.head(10)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
5,"1,90E+11",São José do Rio Preto,18,F,1,branca,1,2,pública,35028927.0,...,612.8,Espanhol,1.0,120.0,160.0,120.0,80.0,100.0,580.0,Não
11,"1,90E+11",Guará,17,F,1,parda,1,2,pública,35023310.0,...,535.1,Inglês,1.0,140.0,120.0,140.0,160.0,120.0,680.0,Sim
12,"1,90E+11",Cajamar,17,F,1,preta,1,2,pública,22083480.0,...,510.7,Espanhol,1.0,120.0,180.0,120.0,120.0,120.0,660.0,Sim
13,"1,90E+11",Osasco,17,F,1,parda,1,2,pública,35040770.0,...,423.8,Espanhol,1.0,140.0,120.0,120.0,140.0,0.0,520.0,Não
44,"1,90E+11",Águas de Lindóia,17,F,1,parda,1,2,pública,35017632.0,...,451.9,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Não
51,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,NaN,...,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
52,"1,90E+11",Águas de Lindóia,17,F,1,branca,1,2,pública,35017632.0,...,506.4,Espanhol,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Não
56,"1,90E+11",Guarulhos,17,F,1,parda,1,2,pública,NaN,...,468.1,Espanhol,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim
57,"1,90E+11",Igarapava,18,F,1,branca,1,2,pública,35023231.0,...,472.3,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim

In [35]:
# Probabilidade de retirar uma vestibulanda de escola PÚBLICA
probabilidade_condicional(len(mulher_escola_publica), len(mulher))

36.56