## Exercício Passageiros - Seção de Series do Curso de Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Abrindo arquivo
data_arq = 'data/AirPassengers.csv'
dataset = pd.read_csv(data_arq)

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
# Obtendo os passageiros
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [8]:
# Convertendo para o formato de Series
serie_passageiros = pd.Series(np.array(dataset["#Passengers"]), index=dataset['Month'])
print(serie_passageiros)

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [9]:
# Visualizando os indices
serie_passageiros.index

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [10]:
# Numero de Dimensões
serie_passageiros.ndim

1

In [11]:
# Numero de linhas
serie_passageiros.size

144

In [ ]:
# Obtendo os primeiros registros
serie_passageiros.head()

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [13]:
# Obter os 10 últimos registros
serie_passageiros.tail()

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [14]:
# Obtendo o primeiro registro
serie_passageiros.iloc[0]

np.int64(112)

In [15]:
# Obtendo os 5 primeiros elementos
serie_passageiros.iloc[0:5]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [16]:
# Obtendo o último elemento
serie_passageiros.iloc[-1]

np.int64(432)

In [17]:
# Obtendo a quantidade de voos de um determinado mês
serie_passageiros.loc["1960-08"]

np.int64(606)

In [18]:
# Obtendo a quantidade de voos em intervalos (meses)
serie_passageiros.loc["1960-06":"1960-12"]

Month
1960-06    535
1960-07    622
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [19]:
# Ordenação
serie_passageiros.sort_values()

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-12    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [20]:
# Ordenação em ordem decrescente
serie_passageiros.sort_values(ascending=False)

Month
1960-07    622
1960-08    606
1959-08    559
1959-07    548
1960-06    535
          ...
1949-12    118
1950-01    115
1950-11    114
1949-01    112
1949-11    104
Length: 144, dtype: int64

In [21]:
# Ordenação do indice
serie_passageiros.sort_index()

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [22]:
# Contagem do número de numeros de passageiros
serie_passageiros.value_counts()

229    3
118    2
170    2
148    2
178    2
      ..
622    1
606    1
508    1
390    1
432    1
Name: count, Length: 118, dtype: int64

In [23]:
# Valores maiores que 300
serie_passageiros.loc[serie_passageiros > 300]

Month
1954-07    302
1955-06    315
1955-07    364
1955-08    347
1955-09    312
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 62, dtype: int64

In [24]:
# Retornando > 300 e index específico
serie_passageiros.loc[(serie_passageiros > 30) & (serie_passageiros.index == '1954-07')]

Month
1954-07    302
dtype: int64

In [28]:
# Menores do que 1950-08
serie_passageiros.loc[serie_passageiros.index < '1950-08']

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
1950-02    126
1950-03    141
1950-04    135
1950-05    125
1950-06    149
1950-07    170
dtype: int64

In [29]:
# Entre 1949-01 e 1950-01
serie_passageiros.loc["1949-01":"1950-01"]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
dtype: int64

In [30]:
# Somatório dos Valores
serie_passageiros.sum()

np.int64(40363)

In [31]:
# Média dos valores
serie_passageiros.mean()

np.float64(280.2986111111111)

In [32]:
# Valor mínimo
serie_passageiros.min()

np.int64(104)

In [33]:
# Valor máximo
serie_passageiros.max()

np.int64(622)

In [35]:
# Somatório do intervalo 1949-01 e 1949-12
serie_passageiros.loc[(serie_passageiros.index >= "1949-01") & (serie_passageiros.index <= "1949-12")].sum()

np.int64(1520)

In [37]:
# Valores únicos dos índices
serie_passageiros.index.unique()

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [38]:
# Somatório de valores faltantes
serie_passageiros.isna().sum()

np.int64(0)

In [39]:
# Extração do mês
pd.DatetimeIndex(serie_passageiros.index).month

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       ...
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
      dtype='int32', name='Month', length=144)

In [40]:
# Extração do ano
pd.DatetimeIndex(serie_passageiros.index).year

Index([1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949,
       ...
       1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960],
      dtype='int32', name='Month', length=144)

In [41]:
# Somatório dos valores do mês 07 utilizando datetimeindex
serie_passageiros.loc[(pd.DatetimeIndex(serie_passageiros.index).month == 7)].sum()

np.int64(4216)

In [42]:
# Somatório do ano de 1950
serie_passageiros.loc[(pd.DatetimeIndex(serie_passageiros.index).year == 1950)].sum()

np.int64(1676)