# Exercícios Seção DataFrame - Curso Pandas

In [1]:
import pandas as pd
import numpy as np

In [81]:
# Abrindo arquivo
data_arq = 'data/games.csv'
dataset = pd.read_csv(data_arq)

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [4]:
# Visualização
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [6]:
# Infos
dataset.shape

(16719, 16)

In [8]:
# índices
dataset.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [9]:
# Verificando se tem valores faltantes e somando
dataset.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [82]:
# Apagando valores nulos
dataset = dataset.dropna()

In [11]:
dataset.shape

(6825, 16)

In [12]:
# Visualização pós drop
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001.0,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

In [13]:
# Verificar a exisência de duplicatas
dataset.duplicated()

0        False
2        False
3        False
6        False
7        False
         ...
16667    False
16677    False
16696    False
16700    False
16706    False
Length: 6825, dtype: bool

In [14]:
dataset.duplicated().sum()

np.int64(0)

In [16]:
# Tipos de dados
dataset.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [83]:
# Convertendo os tipos
dataset = dataset.astype({"Year_of_Release": "int", "Critic_Count": "int", "User_Score": "float", "User_Count": "int" })

In [18]:
dataset.dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count         int64
User_Score         float64
User_Count           int64
Developer           object
Rating              object
dtype: object

In [52]:
# Função para atualizar coluna
def atualiza_user_score(score):
    return score * 10

In [84]:
# Atualizando coluna usando apply
dataset["User_Score"] = dataset["User_Score"].apply(atualiza_user_score)

In [54]:
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51,80.0,322,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73,83.0,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73,80.0,192,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65,85.0,431,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41,66.0,129,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4,24.0,21,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12,88.0,9,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20,76.0,412,Kojima Productions,M
16700,Breach,PC,2011,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12,58.0,43,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12,72.0,13,SimBin,E10+

In [55]:
# Visualização de linhas e colunas
dataset.iloc[0:5, 0:5]

                    Name Platform  Year_of_Release     Genre Publisher
0             Wii Sports      Wii             2006    Sports  Nintendo
2         Mario Kart Wii      Wii             2008    Racing  Nintendo
3      Wii Sports Resort      Wii             2009    Sports  Nintendo
6  New Super Mario Bros.       DS             2006  Platform  Nintendo
7               Wii Play      Wii             2006      Misc  Nintendo

In [85]:
# Apagando colunas
dataset.drop(["NA_Sales", "JP_Sales", "EU_Sales", "Critic_Count", "User_Count"], axis=1, inplace=True)

In [24]:
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,76.0,80.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,82.0,83.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,80.0,80.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,89.0,85.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,58.0,66.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001,Action,NewKidCo,0.00,0.01,46.0,24.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002,Fighting,Midway Games,0.00,0.01,81.0,88.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014,Action,Konami Digital Entertainment,0.00,0.01,80.0,76.0,Kojima Productions,M
16700,Breach,PC,2011,Shooter,Destineer,0.00,0.01,61.0,58.0,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011,Strategy,Unknown,0.00,0.01,60.0,72.0,SimBin,E10+

In [86]:
# Retornando valores das colunas
for coluna in dataset.columns:
    if dataset[coluna].dtype == object:
        print("----------------------------", coluna, "----------------------------")
        print(dataset[coluna].value_counts())
        print

---------------------------- Name ----------------------------
Name
Madden NFL 07                                   8
Need for Speed: Most Wanted                     8
LEGO Star Wars II: The Original Trilogy         8
Terraria                                        7
Madden NFL 08                                   7
                                               ..
Brain Age: Train Your Brain in Minutes a Day    1
Wii Fit                                         1
Wii Sports Resort                               1
Mario Kart Wii                                  1
Wii Sports                                      1
Name: count, Length: 4377, dtype: int64
---------------------------- Platform ----------------------------
Platform
PS2     1140
X360     858
PS3      769
PC       651
XB       565
Wii      479
DS       464
PSP      390
GC       348
PS4      239
GBA      237
XOne     159
3DS      155
PS       150
PSV      118
WiiU      89
DC        14
Name: count, dtype: int64
---------------------------- Genre ----------------------------
Genre
Action          1630
Sports           943
Shooter          864
Role-Playing     712
Racing           581
Platform         403
Misc             384
Fighting         378
Simulation       297
Strategy         267
Adventure        248
Puzzle           118
Name: count, dtype: int64
---------------------------- Publisher ----------------------------
Publisher
Electronic Arts                944
Ubisoft                        496
Activision                     492
Sony Computer Entertainment    316
THQ                            307
                              ...
Lighthouse Interactive           1
CDV Software Entertainment       1
Encore                           1
Blue Byte                        1
NewKidCo                         1
Name: count, Length: 262, dtype: int64
---------------------------- Developer ----------------------------
Developer
EA Canada                                                       149
EA Sports                                                       142
Capcom                                                          126
Ubisoft                                                         103
Konami                                                           95
                                                               ...
TDK Mediactive                                                    1
Retro Studios, Entertainment Analysis & Development Division      1
Autumn Moon                                                       1
Tate Interactive                                                  1
Elixir Studios                                                    1
Name: count, Length: 1289, dtype: int64
---------------------------- Rating ----------------------------
Rating
T       2377
E       2082
M       1433
E10+     930
AO         1
K-A        1
RP         1
Name: count, dtype: int64

In [87]:
# Retornando porcentagem
for coluna in dataset.columns:
    if dataset[coluna].dtype == object:
        print("----------------------------", coluna, "----------------------------")
        print(dataset[coluna].value_counts(normalize=True))
        print()

---------------------------- Name ----------------------------
Name
Madden NFL 07                                   0.001172
Need for Speed: Most Wanted                     0.001172
LEGO Star Wars II: The Original Trilogy         0.001172
Terraria                                        0.001026
Madden NFL 08                                   0.001026
                                                  ...
Brain Age: Train Your Brain in Minutes a Day    0.000147
Wii Fit                                         0.000147
Wii Sports Resort                               0.000147
Mario Kart Wii                                  0.000147
Wii Sports                                      0.000147
Name: proportion, Length: 4377, dtype: float64

---------------------------- Platform ----------------------------
Platform
PS2     0.167033
X360    0.125714
PS3     0.112674
PC      0.095385
XB      0.082784
Wii     0.070183
DS      0.067985
PSP     0.057143
GC      0.050989
PS4     0.035018
GBA     0.034725
XOne    0.023297
3DS     0.022711
PS      0.021978
PSV     0.017289
WiiU    0.013040
DC      0.002051
Name: proportion, dtype: float64

---------------------------- Genre ----------------------------
Genre
Action          0.238828
Sports          0.138168
Shooter         0.126593
Role-Playing    0.104322
Racing          0.085128
Platform        0.059048
Misc            0.056264
Fighting        0.055385
Simulation      0.043516
Strategy        0.039121
Adventure       0.036337
Puzzle          0.017289
Name: proportion, dtype: float64

---------------------------- Publisher ----------------------------
Publisher
Electronic Arts                0.138315
Ubisoft                        0.072674
Activision                     0.072088
Sony Computer Entertainment    0.046300
THQ                            0.044982
                                 ...
Lighthouse Interactive         0.000147
CDV Software Entertainment     0.000147
Encore                         0.000147
Blue Byte                      0.000147
NewKidCo                       0.000147
Name: proportion, Length: 262, dtype: float64

---------------------------- Developer ----------------------------
Developer
EA Canada                                                       0.021832
EA Sports                                                       0.020806
Capcom                                                          0.018462
Ubisoft                                                         0.015092
Konami                                                          0.013919
                                                                  ...
TDK Mediactive                                                  0.000147
Retro Studios, Entertainment Analysis & Development Division    0.000147
Autumn Moon                                                     0.000147
Tate Interactive                                                0.000147
Elixir Studios                                                  0.000147
Name: proportion, Length: 1289, dtype: float64

---------------------------- Rating ----------------------------
Rating
T       0.348278
E       0.305055
M       0.209963
E10+    0.136264
AO      0.000147
K-A     0.000147
RP      0.000147
Name: proportion, dtype: float64

In [89]:
# Retornando os 5 jogos mais vendidos
dataset.sort_values(["Global_Sales"], ascending=False)

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,76.0,80.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,82.0,83.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,80.0,80.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,89.0,85.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,58.0,66.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...
16156,The Last Remnant,PC,2009,Role-Playing,Square Enix,0.00,0.01,66.0,83.0,Square Enix,M
16161,Call of Juarez,PC,2006,Shooter,Ubisoft,0.00,0.01,72.0,78.0,Techland,M
16163,Unreal Tournament 2003,PC,2002,Shooter,Atari,0.00,0.01,86.0,82.0,Digital Extremes,M
16164,Neverwinter Nights 2: Mask of the Betrayer,PC,2007,Role-Playing,Atari,0.00,0.01,82.0,88.0,Obsidian Entertainment,T
16276,Doki-Doki Universe,PSV,2013,Adventure,Sony Computer Entertainment,0.00,0.01,66.0,57.0,SCEA,E10+

In [90]:
# Retornando os 5 jogos menos vencidos
dataset.sort_values(["Global_Sales"], ascending=True)

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating
16533,Hoshigami: Ruining Blue Earth Remix,DS,2007,Role-Playing,505 Games,0.00,0.01,55.0,79.0,Barnhouse Effect,T
16433,Greg Hastings' Tournament Paintball Max'd,PS2,2006,Shooter,Activision,0.00,0.01,70.0,92.0,Activision Value,E10+
16459,Powerdrome,XB,2004,Racing,Evolved Games,0.00,0.01,69.0,70.0,Argonaut Games,T
16347,F.E.A.R. Perseus Mandate,PC,2007,Shooter,Vivendi Games,0.00,0.01,61.0,73.0,TimeGate Studios,M
16156,The Last Remnant,PC,2009,Role-Playing,Square Enix,0.00,0.01,66.0,83.0,Square Enix,M
...,...,...,...,...,...,...,...,...,...,...,...
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,58.0,66.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,89.0,85.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,80.0,80.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,82.0,83.0,Nintendo,E
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,76.0,80.0,Nintendo,E

In [91]:
# Retornando todos os jogos com colunas específicas
dataset.loc[dataset["Platform"] == "PS4", ["Name", "Year_of_Release", "Developer"]]

,Name,Year_of_Release,Developer
42,Grand Theft Auto V,2014,Rockstar North
77,FIFA 16,2015,EA Sports
92,Call of Duty: Advanced Warfare,2014,Sledgehammer Games
94,FIFA 17,2016,"EA Sports, EA Vancouver"
105,Fallout 4,2015,Bethesda Game Studios
...,...,...,...
16137,Super Stardust Ultra VR,2016,Sony Interactive Entertainment
16490,Super Dungeon Bros,2016,React Games
16503,Sherlock Holmes: The Devil's Daughter,2016,Frogwares
16530,Dungeons 2,2016,Kalypso
16534,Carmageddon: Max Damage,2016,Stainless Games

In [92]:
# Jogos de PS4 com avaliação de usuário maior que 90
dataset.loc[(dataset["Platform"] == "PS4") & (dataset["User_Score"] > 90) ]

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating
303,The Witcher 3: Wild Hunt,PS4,2015,Role-Playing,Namco Bandai Games,0.59,3.97,92.0,92.0,CD Projekt Red Studio,M

In [93]:
# Agora usando query()
dataset.query("Platform == 'PS4' and `User_Score` > 85")

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating
303,The Witcher 3: Wild Hunt,PS4,2015,Role-Playing,Namco Bandai Games,0.59,3.97,92.0,92.0,CD Projekt Red Studio,M
623,Bloodborne,PS4,2015,Action,Sony Computer Entertainment,0.38,2.48,92.0,86.0,From Software,M
1107,Dark Souls III,PS4,2016,Role-Playing,Namco Bandai Games,0.22,1.65,89.0,88.0,From Software,M
4676,Farming Simulator 17,PS4,2016,Simulation,Focus Home Interactive,0.06,0.41,69.0,87.0,Maximum Games,E
4786,Life is Strange,PS4,2016,Adventure,Square Enix,0.06,0.40,85.0,86.0,DONTNOD Entertainment,M
5120,Rocket League,PS4,2016,Sports,505 Games,0.05,0.37,85.0,87.0,Psyonix,E
8887,The King of Fighters XIV,PS4,2016,Fighting,Deep Silver,0.02,0.15,79.0,87.0,SNK Playmore,T
9242,Brothers: A Tale of Two Sons,PS4,2015,Adventure,505 Games,0.02,0.14,81.0,86.0,Starbreeze,T

In [94]:
# Inserindo nova coluna (média entre scores de critica e usuários)
dataset["Global_Score"] = (dataset["Critic_Score"] + dataset["User_Score"]) / 2

In [95]:
dataset.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating,Global_Score
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,76.0,80.0,Nintendo,E,78.0
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,82.0,83.0,Nintendo,E,82.5
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,80.0,80.0,Nintendo,E,80.0
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,89.0,85.0,Nintendo,E,87.0
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,58.0,66.0,Nintendo,E,62.0

In [96]:
# Apagando colunas de score
dataset.drop(["Critic_Score", "User_Score"], axis=1, inplace=True)

In [67]:
dataset.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Developer,Rating,Score_Mean
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,Nintendo,E,78.0
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,Nintendo,E,82.5
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,Nintendo,E,80.0
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,Nintendo,E,87.0
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,Nintendo,E,62.0

In [42]:
# Reordenando as colunas
dataset.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'Other_Sales', 'Global_Sales', 'Developer', 'Rating', 'Score_Mean'],
      dtype='object')

In [97]:
dataset = dataset.reindex(labels=['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'Other_Sales', 'Global_Sales', 'Global_Score', 'Developer', 'Rating'], axis=1)

In [69]:
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,Other_Sales,Global_Sales,Score_Mean,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,8.45,82.53,78.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,3.29,35.52,82.5,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,2.95,32.77,80.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,2.88,29.80,87.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,2.84,28.92,62.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001,Action,NewKidCo,0.00,0.01,35.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002,Fighting,Midway Games,0.00,0.01,84.5,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014,Action,Konami Digital Entertainment,0.00,0.01,78.0,Kojima Productions,M
16700,Breach,PC,2011,Shooter,Destineer,0.00,0.01,59.5,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011,Strategy,Unknown,0.00,0.01,66.0,SimBin,E10+

In [98]:
# Alterando as colunas categóricas para category
dataset = dataset.astype({"Name": "category", "Platform": "category", "Genre": "category", "Publisher": "category", "Developer": "category", "Rating": "category"})

In [71]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6825 entries, 0 to 16706
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6825 non-null   category
 1   Platform         6825 non-null   category
 2   Year_of_Release  6825 non-null   int64
 3   Genre            6825 non-null   category
 4   Publisher        6825 non-null   category
 5   Other_Sales      6825 non-null   float64
 6   Global_Sales     6825 non-null   float64
 7   Score_Mean       6825 non-null   float64
 8   Developer        6825 non-null   category
 9   Rating           6825 non-null   category
dtypes: category(6), float64(3), int64(1)
memory usage: 543.7 KB

In [99]:
# Somatório dos registros de vendas globais
dataset.loc[:, ["Global_Sales"]].sum()

Global_Sales    5307.05
dtype: float64

In [100]:
# Média dos registros de vendas globais
dataset.loc[:, ["Global_Sales"]].mean()

Global_Sales    0.77759
dtype: float64

In [101]:
# Valores unicos de Platform
dataset["Platform"].unique()

['Wii', 'DS', 'X360', 'PS3', 'PS2', ..., 'GC', 'GBA', 'XOne', 'PSV', 'DC']
Length: 17
Categories (17, object): ['3DS', 'DC', 'DS', 'GBA', ..., 'WiiU', 'X360', 'XB', 'XOne']

In [102]:
# Retornando agrupamento de Platform por vendas globais
dataset.groupby("Platform")["Global_Sales"].mean().sort_values(ascending=False)

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\11083339.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataset.groupby("Platform")["Global_Sales"].mean().sort_values(ascending=False)

Platform
PS      1.377000
Wii     1.375741
PS3     1.019896
PS4     1.016862
X360    0.994522
PS2     0.829798
DS      0.823987
XOne    0.814906
3DS     0.795032
WiiU    0.742472
GBA     0.555907
PSP     0.481846
GC      0.458103
XB      0.375345
DC      0.325000
PC      0.287435
PSV     0.261695
Name: Global_Sales, dtype: float64

In [103]:
# Agrupamento de Genre e Platform + média dos atributos
dataset.groupby(["Platform", "Genre"]).agg("mean", numeric_only=True)

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\1213369809.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataset.groupby(["Platform", "Genre"]).agg("mean", numeric_only=True)

                       Year_of_Release  Other_Sales  Global_Sales  \
Platform Genre
3DS      Action            2012.796296     0.037407      0.570556
         Adventure         2012.555556     0.012222      0.222222
         Fighting          2011.714286     0.027143      0.375714
         Misc              2012.800000     0.027000      0.448000
         Platform          2012.611111     0.105000      1.533889
...                                ...          ...           ...
XOne     Role-Playing      2015.000000     0.092500      1.026250
         Shooter           2014.900000     0.146667      1.604000
         Simulation        2016.000000     0.000000      0.010000
         Sports            2014.677419     0.077097      0.857742
         Strategy          2014.500000     0.010000      0.105000

                       Global_Score
Platform Genre
3DS      Action           64.620370
         Adventure        69.500000
         Fighting         68.857143
         Misc             70.450000
         Platform         71.888889
...                             ...
XOne     Role-Playing     76.937500
         Shooter          71.916667
         Simulation       58.000000
         Sports           63.596774
         Strategy         72.500000

[204 rows x 4 columns]

In [104]:
# Contagem de vendas definidas por gênero
dataset.groupby("Genre")["Global_Sales"].count()

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\531320652.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataset.groupby("Genre")["Global_Sales"].count()

Genre
Action          1630
Adventure        248
Fighting         378
Misc             384
Platform         403
Puzzle           118
Racing           581
Role-Playing     712
Shooter          864
Simulation       297
Sports           943
Strategy         267
Name: Global_Sales, dtype: int64

In [108]:
# A média de Global Sales definida pelo Genre
group = dataset.groupby(["Genre"], as_index=False)["Global_Sales"].mean()
group

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\2306426747.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group = dataset.groupby(["Genre"], as_index=False)["Global_Sales"].mean()

           Genre  Global_Sales
0         Action      0.738135
1      Adventure      0.325605
2       Fighting      0.661243
3           Misc      1.084010
4       Platform      0.937469
5         Puzzle      0.668644
6         Racing      0.819656
7   Role-Playing      0.704171
8        Shooter      0.945000
9     Simulation      0.682492
10        Sports      0.884252
11      Strategy      0.260712

In [105]:
dataset.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'Other_Sales', 'Global_Sales', 'Global_Score', 'Developer', 'Rating'],
      dtype='object')

In [111]:
# Nova coluna com média do Score Global
group.assign(avg_score = dataset.groupby(["Genre"])["Global_Score"].transform("mean"))

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\943025116.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group.assign(avg_score = dataset.groupby(["Genre"])["Global_Score"].transform("mean"))

           Genre  Global_Sales  avg_score
0         Action      0.738135  72.639449
1      Adventure      0.325605        NaN
2       Fighting      0.661243  70.293460
3           Misc      1.084010  72.639449
4       Platform      0.937469        NaN
5         Puzzle      0.668644        NaN
6         Racing      0.819656  71.885856
7   Role-Playing      0.704171  67.979167
8        Shooter      0.945000  71.885856
9     Simulation      0.682492        NaN
10        Sports      0.884252        NaN
11      Strategy      0.260712  70.293460

In [112]:
# Criando uma tabela pivÔ
dataset.pivot_table(index="Genre", columns="Platform", values="Global_Sales", aggfunc="mean")

C:\Users\Emanuelle\AppData\Local\Temp\ipykernel_10948\2998713040.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  dataset.pivot_table(index="Genre", columns="Platform", values="Global_Sales", aggfunc="mean")

Platform,3DS,DC,DS,GBA,GC,PC,PS,PS2,PS3,PS4,PSP,PSV,Wii,WiiU,X360,XB,XOne
Genre,,,,,,,,,,,,,,,,,
Action,0.570556,NaN,0.565733,0.455098,0.434638,0.195769,2.034444,0.982428,1.150789,0.949630,0.593514,0.257568,0.620902,0.348974,0.900858,0.306975,0.605625
Adventure,0.222222,0.665,0.284839,0.504444,0.350769,0.056800,0.220000,0.268500,0.851579,0.257500,0.216154,0.128000,0.350909,0.080000,0.768000,0.110000,0.392500
Fighting,0.375714,0.280,0.240714,0.252308,0.658750,0.043333,1.260667,0.886575,0.854107,0.623636,0.412000,0.212222,0.841923,0.406667,0.630357,0.352258,0.450000
Misc,0.448000,NaN,1.860000,0.715833,0.795000,1.006667,1.415000,0.716667,0.648537,0.385714,0.242381,0.226250,2.134571,0.910833,1.130484,0.237333,0.340000
Platform,1.533889,0.120,1.572000,0.840833,0.560682,0.046000,1.182500,0.747714,0.950455,0.560000,0.542000,0.415000,2.173611,1.422000,0.488571,0.286154,0.155000
Puzzle,0.328750,NaN,0.971154,0.911667,0.551667,0.047500,0.130000,0.661667,0.400000,0.030000,0.185455,0.120000,0.587143,0.433333,0.180000,0.100000,NaN
Racing,2.778000,0.100,1.662778,0.600000,0.357742,0.073953,2.010000,0.970763,1.002742,0.605333,0.714872,0.200000,1.611667,7.090000,0.790704,0.308421,0.631429
Role-Playing,0.728462,0.170,0.677640,0.677419,0.567273,0.538313,1.573929,0.660684,0.820513,0.790435,0.444429,0.226452,0.440400,0.630000,1.183103,0.735294,1.026250
Shooter,0.510000,0.050,0.237037,0.107692,0.326000,0.281705,0.488333,0.773228,1.442479,1.929394,0.617333,0.776000,0.662069,1.112000,1.701634,0.563832,1.604000
Simulation,1.786667,0.520,1.154324,0.253750,0.839000,0.517179,0.417500,0.755778,0.439444,0.360000,0.576250,NaN,0.918462,0.200000,0.465000,0.314286,0.010000
Sports,0.550000,1.090,0.273182,0.312105,0.301667,0.233571,1.296875,0.978980,0.853913,1.414359,0.422333,0.306667,2.925068,0.398333,0.783857,0.386364,0.857742
Strategy,0.313333,NaN,0.296296,0.556667,0.492857,0.220609,0.062500,0.216053,0.398750,0.115000,0.242857,NaN,0.293333,1.110000,0.421053,0.147692,0.105000